html,
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400; 
  color: #333; 
}

html {
  overflow-y: hidden !important;
  background-color: #f4f4f4;
  background-position: center;
  background-repeat: no-repeat;
}

.hero.is-success {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box {
  margin-top: 5rem;
  background-color: #ffffff;
  border: 1px solid #eaeaea; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  padding: 2rem;
}

input[type='radio'] {
  margin-right: 0.5rem;
}

label {
  font-size: 1rem;
  font-weight: 400;
}

p.subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 1rem;
  color: #666; 
}

.button {
  background-color: #27dac2; 
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  font-weight: 700;
  text-transform: uppercase; 
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #37b0a0; 
}

a {
  color: #3273dc;
}

a:hover {
  color: #2656a3;
}

.languages {
  margin-top: 1rem;
}

.footer-text {
  font-weight: 400;
  color: #888;
}


